<div class="row">
    <div class="col-md-6 text-muted">
        Sample images copyright <i class="fa fa-copyright" aria-hidden="true"></i>
 2014-2017 l.p.lade. All rights reserved.
    </div>
    <div class="col-md-6 text-muted">
            <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
    is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/"
       title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY
    </a>
    </div>
</div>
