<!-- Main navbar -->
{#  Requires Bootstrap & its plugins, jQuery #}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {# Put page navigation as ul here #}
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'dam:my_photoroll' %}">Photoroll</a>
                    </li>
                    <li>
                        <a href="{% url 'dam:my_galleries' %}">Galleries</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li>
                        <p class="navbar-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a class="navbar-link" href="{% url 'dam:my_user_profile' %}">
                                {{ user.username }}
                            </a>
                        </p>
                        </li>
                        <li>
                        <p class="navbar-text">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <a class="navbar-link" href="{% url 'logout' %}?next={% url 'dam:logout_message' %}">Log out</a>
                        </p>
                    {% else %}
                        <li>
                        <p class="navbar-text">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <a href="{% url 'login' %}?next={{ request.path }}" class="navbar-link">
                                Sign in
                            </a>
                        </p>
                        </li>
                        <li>
                        <p class="navbar-text">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <a href="{% url 'register' %}" class="navbar-link">
                                Register</a>
                        </p>
                    </li>
                    {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>