{% extends 'dam/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>New gallery</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{% url 'dam:gallery_create' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-default" value="Create">
            </form>
        </div>
    </div>
{% endblock %}