{% extends 'dam/base.html' %}

{% block precontainer %}
    <!-- Full width jumbotron splash -->
    <div class="jumbotron"> <!--TODO style this: big photo -->
        <div class="container">
            <h1>{{ title }}</h1>
            <p class="small">Maybe some other words</p>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            Explanatory text here
        </div>
    </div>
    <!-- TODO integrate into navbar -->
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'login' %}">Login</a>
        </div>
        <div class="col-md-12">
            <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
{% endblock %}