{% extends 'dam/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {# https://coderwall.com/p/bz0sng/simple-django-image-upload-to-model-imagefield #}
    {# TODO represent this as a modal dialogue? #}
    <div class="row">
        <div class="col-md-12">
            <h1>Upload a photo</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                <form method="post"
                      action="{% url 'dam:photo_upload' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-default" value="Submit">
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}