{% extends 'dam/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Photoroll</h1>
        </div>
    </div>
    <div class="row"><!-- TODO affix UI to right edge -->
        <div class="col-md-6">
            <a class="btn btn-default" href="{% url 'dam:photo_upload' %}">Upload a photo</a>
        </div>
    </div>
    <div class="row">
        {% for photo in photos %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                {# link to the photo #}
                <a href="{% url 'dam:photo_details' photo_pk=photo.pk %}">
                    {# render a thumbnail #}
                    <img class="img-responsive img-thumbnail"
                         src="{{ photo.proxy_data.url }}"
                         alt="{{ photo.original_filename }}">
                </a>
            </div>
        {% empty %}
            <div class="col-md-12">
                <p class="alert alert-warning">No photos!</p>
                <!-- TODO invite user to upload something, link -->
            </div>
        {% endfor %}
    </div>
{% endblock %}
