{% extends 'dam/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>User account</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>info about user shows up here</p>
        </div>
        <div class="col-sm-4">

            {% if profile %}
                <form method="post" action="">
                    <!-- TODO bootstrapify this -->
                    {% csrf_token %}
                    <table id="modification_form">
                        {{ form|cripsy }}
                    </table>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}